.questionList {
  border: 1px solid #eaeaea;
  border-radius: 6px;
  overflow-y: auto;
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.questionHeader {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.7fr 1fr 0.5fr 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr;
  padding: 1rem;
  background-color: #f3f4f6;
  font-weight: 600;
  color: #4b5563;
  position: sticky;
  top: 0;
  z-index: 10;
}

.questionSelect {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyState {
  padding: 3rem;
  text-align: center;
  color: #6b7280;
}

.questionNotes {
  width: 100px;
  text-align: center;
}